{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">-->
    <title>Detalhes Curso</title>
</head>
<body>
    {% include 'menu.html' %}
   <div class="container" >
        {{dados.titulo}}
        {{dados.descricao}}
        {{dados.datainicio|date:'d/m/Y'}}<br>
    {% if dados.foto  %}
        <img src="{{dados.foto.url}}" alt="">
    {% endif %}
   </div>

</body>
</html>